@model IEnumerable<Chat>

@{
    ViewData["Title"] = "Messaging";
}




<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    @foreach (var chat in Model.Take(1))
                    {
                        if (chat.SenderId.ToString() == (User.FindFirst("ID").Value))
                        {
                            <div class="chat_list active_chat">
                                <div class="chat_people">
                                    @if (chat.Reciever.ProfilePictureUrl == null)
                                    {
                                        <div class="chat_img"> <img class="rounded-circle" src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" alt=""> </div>
                                    }
                                    else
                                    {
                                        <div class="chat_img"> <img class="rounded-circle" src="@Url.Content(chat.Reciever.ProfilePictureUrl)" alt=""> </div>
                                    }
                                    <div class="chat_ib">
                                        <h5>
                                            @if (ViewBag.NewCount > 0)
                                            {
                                                <i class="fas fa-circle blue fa-xs"></i>
                                            }

                                            @chat.Reciever.Fullname
                                            @if (chat.ModifiedDate == null)
                                            {
                                                <span class="chat_date">@chat.CreatedDate?.ToShortDateString()</span>
                                            }
                                            else
                                            {
                                                <span class="chat_date">@chat.ModifiedDate?.ToShortDateString()</span>
                                            }
                                        </h5>
                                        <p>
                                            @if (chat.Messages.Count > 0)
                                            {
                                                @Html.Raw(chat.Messages.Last().Content.ToString())
                                            }

                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="chat_list active_chat">
                                <div class="chat_people">
                                    @if (chat.Sender.ProfilePictureUrl == null)
                                    {
                                        <div class="chat_img"> <img class="rounded-circle" src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" alt=""> </div>
                                    }
                                    else
                                    {
                                        <div class="chat_img"> <img class="rounded-circle" src="@Url.Content(chat.Sender.ProfilePictureUrl)" alt=""> </div>
                                    }
                                    <div class="chat_ib">
                                        <h5>
                                            @if (ViewBag.NewCount > 0)
                                            {
                                                <i class="fas fa-circle blue fa-xs"></i>
                                            }
                                            @chat.Sender.Fullname
                                            @if (chat.ModifiedDate == null)
                                            {
                                                <span class="chat_date">@chat.CreatedDate?.ToShortDateString()</span>
                                            }
                                            else
                                            {
                                                <span class="chat_date">@chat.ModifiedDate?.ToShortDateString()</span>
                                            }
                                        </h5>
                                        <p>
                                            @if (chat.Messages.Count > 0)
                                            {
                                                @Html.Raw(chat.Messages.Last().Content.ToString())
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>}
                    }
                    @{int count = 0;}
                    @foreach (var chat in Model.Skip(1))
                    {

                        count++;
                        if (chat.SenderId.ToString() == (User.FindFirst("ID").Value))
                        {
                            <div class="chat_list" onclick="location.href = '/Message/StartChat?receiverId=@chat.RecieverId';" style="cursor: pointer;">
                                <div class="chat_people">
                                    @if (chat.Reciever.ProfilePictureUrl == null)
                                    {
                                        <div class="chat_img"> <img class="rounded-circle" src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" alt=""> </div>
                                    }
                                    else
                                    {
                                        <div class="chat_img"> <img class="rounded-circle" src="@Url.Content(chat.Reciever.ProfilePictureUrl)" alt=""> </div>
                                    }
                                    <div class="chat_ib">
                                        <h5>
                                            @if (count < ViewBag.NewCount)
                                            {
                                                <i class="fas fa-circle blue fa-xs"></i>
                                            }
                                            @chat.Reciever.Fullname
                                            @if (chat.ModifiedDate == null)
                                            {
                                                <span class="chat_date">@chat.CreatedDate?.ToShortDateString()</span>
                                            }
                                            else
                                            {
                                                <span class="chat_date">@chat.ModifiedDate?.ToShortDateString()</span>
                                            }
                                        </h5>
                                        <p>

                                            @if (chat.Messages.Count > 0)
                                            {
                                                @Html.Raw(chat.Messages.Last().Content.ToString())
                                            }

                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="chat_list" onclick="location.href = '/Message/StartChat?receiverId=@chat.SenderId';" style="cursor: pointer;">
                                <div class="chat_people">
                                    @if (chat.Sender.ProfilePictureUrl == null)
                                    {
                                        <div class="chat_img"> <img class="rounded-circle" src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" alt=""> </div>
                                    }
                                    else
                                    {
                                        <div class="chat_img"> <img class="rounded-circle" src="@Url.Content(chat.Sender.ProfilePictureUrl)" alt=""> </div>
                                    }
                                    <div class="chat_ib">
                                        <h5>
                                            @if (count < ViewBag.NewCount)
                                            {
                                                <i class="fas fa-circle blue fa-xs"></i>
                                            }
                                            @chat.Sender.Fullname
                                            @if (chat.ModifiedDate == null)
                                            {
                                                <span class="chat_date">@chat.CreatedDate?.ToShortDateString()</span>
                                            }
                                            else
                                            {
                                                <span class="chat_date">@chat.ModifiedDate?.ToShortDateString()</span>
                                            }
                                        </h5>
                                        <p>
                                            @if (chat.Messages.Count > 0)
                                            {
                                                @Html.Raw(chat.Messages.Last().Content.ToString())
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>}
                    }

                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    @if (Model.Count() > 0)
                    {


                        @foreach (var message in Model.First().Messages.OrderBy(x => x.CreatedDate))
                        {
                            @if (message.SenderId.ToString() == User.FindFirst("ID").Value)
                            {
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p>
                                            @message.Content
                                        </p>
                                        <span class="time_date"> @message.CreatedDate?.ToShortTimeString()    |    @message.CreatedDate?.ToShortDateString()</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="incoming_msg">
                                    @if (message.SenderId.ToString() == Model.First().Reciever.ID.ToString())
                                    {
                                        @if (Model.First().Reciever.ProfilePictureUrl == null)
                                        {
                                            <div class="incoming_msg_img"> <img class="rounded-circle" src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" alt="sunil"> </div>

                                        }
                                        else
                                        {
                                            <div class="incoming_msg_img"> <img class="rounded-circle" src="@Url.Content(Model.First().Reciever.ProfilePictureUrl)" alt="sunil"> </div>
                                        }
                                    }
                                    else
                                    {
                                        @if (Model.First().Sender.ProfilePictureUrl == null)
                                        {
                                            <div class="incoming_msg_img"> <img class="rounded-circle" src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" alt="sunil"> </div>

                                        }
                                        else
                                        {
                                            <div class="incoming_msg_img"> <img class="rounded-circle" src="@Url.Content(Model.First().Sender.ProfilePictureUrl)" alt="sunil"> </div>
                                        }
                                    }

                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>
                                                @message.Content
                                            </p>
                                            <span class="time_date"> @message.CreatedDate?.ToShortTimeString()    |    @message.CreatedDate?.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <form asp-controller="Message" asp-action="SendMsg" method="post">
                            <input type="text" name="Msg" placeholder="Type a message" />
                            @if (Model.Count() > 0)
                            {
                                <input type="text" name="chatId" value="@Model.First().ID" hidden />

                            }
                            <button class="msg_send_btn" type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
